.filter-sections {
  width: 100%;
  display: block;
  overflow: hidden;
}

.filter-sections div {
  opacity: 0;
  display: none;
  min-height: 50px;
  margin: 0.5em;
  text-align: center;
  padding: 2em 1em;
  float: left;
  transition: all 500s ease;
}

.view {
  display: block !important;
  opacity: 1 !important;
  transform: scale(1) rotate(0deg);
  border-radius:4px;
  animation: selected 300ms 1 ease-in-out;
}

@keyframes selected {
  0% {
    border-radius:100%;
    transform: scale(0) rotate(-180deg);
  }
}

/*.age{
  background-color:yellow;
  color:black;
}
.time{
  background:blue;
  color:white;
}
.skill{
  background:red;
  color:white;
}*/

#filter-bar {
  width: 100%; 
  margin:0; 
  padding:0;
   height:36px; 
   display:inline-flex;
 }

 #filter-bar li a {
  text-decoration: none;
  color: brown;
 }

 #filter-bar li a:hover {
  color: white;
 }

#wrapper-filter {background-color:#eee; width: 570px; height:auto; margin:30px auto; border-radius: 30px; box-sizing: border-box;}
#filter-bar li {width: 200px;background-color: transparent; text-align: center; list-style-type: none;z-index:10; cursor: pointer; font-family: Open Sans, sans-serif; font-weight: 100; font-size: 20px;line-height:36px;}
.pill {position: absolute; width:100px; height: 38px; background-color: #39c; border-radius: 30px; color: #444; z-index:10; border: 5px solid #eee; box-sizing: border-box; }
.filter-option {transition: color 500ms;}
  #filter-bar.option-1 .pill {margin-left: 19px; transition: margin-left 200ms ease;}
#filter-bar.option-2 .pill {margin-left: 165px; transition: margin-left 200ms ease;}
#filter-bar.option-3 .pill {margin-left: 310px; transition: margin-left 200ms ease;}
#filter-bar.option-4 .pill {margin-left: 450px; transition: margin-left 200ms ease;}
  
.option-1.active, .option-2.active, .option-3.active, .option-4.active {color:#fff; transition: color 200ms; }