.coach {
    /* The image used */
    background-image: url("../img/coach.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#float{
	position:fixed;
	width:140px;
	padding:8px;
	bottom:100px;
	right:50px;
	background-color:#e79746;
	color:#FFF;
	border-radius:8px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.box {
  background-color: rgba(300, 300, 300, 0.4);
  border-radius: 5px;
  font-family: sans-serif;
  text-align: center;
  line-height: 1; 
  backdrop-filter: blur(5px);  
  -webkit-backdrop-filter: blur(6px);
  max-width: 50%;
  max-height: 50%;
  padding: 20px 40px;
}
#just,p{
	text-align: justify;
	color:black;
}

#quote{
	padding-left: 65%;
}

#wrapper { width: 100%; margin: 0 auto; }
#left { width: 45%; background: white; float: left; }
#right { width: 55%; background: white; float: right; }

#wrapper2 { width: 100%; margin: 0 auto; }
#left2 { width: 55%; background: white; float: left; }
#right2 { width: 40%; background: white; float: right; }

#thumbs, #leader{
    display:block;
    margin:auto;
}

#ben_list{
	color:#e79746;
}

#right2{
	padding-right: 20px;
}

#steps_led{
	color:#e79746;
	font-size:20px;
}

.headers{
	color:#5bc0af;
	text-align: center;
	padding:50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
 /* background-color: #2196F3;*/
  padding: 10px;
}
.grid-item {
 /* background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);*/
  padding: 10px;
  /*font-size: 30px;*/
  text-align: center;
}






