/*Button*/
* { box-sizing: border-box; }
 /*Container display flex*/
.floatButton {
	align-items: center;
/*	background-color: #f9f9f9;
*/	display: flex;
	height: 100%;
	justify-content: center;
	max-width: 100%;
	min-height: 100vh;
	position: fixed;
	right:50px;
}

/*// Button
*/button{
	background-color: #5BC0AF;
	border: none;
	transition:
		background-color .5s linear,
		color .5s linear
	;

	&:hover { background-color: darken(#5BC0AF, 5%); }

	&:focus { outline: none; }
}

.try-a-class {
	animation: shadowFloat 1.2s linear alternate infinite;
	border-radius: 50px;
	color: #fff;
	font-size: 13px;
	padding: 20px 40px;
	text-transform: uppercase;
	text-shadow: 0 1px 1px darken(#FAEAAB, 10%);
}

/*// Animations*/
@keyframes shadowFloat {
   0%   {
		box-shadow: 0 20px 40px #F4F4F5;
		transform: translateY(-3px);
	}
   100% {
		box-shadow: 0 10px 10px darken(#F4F4F5, 5%);;
		transform: translateY(3px); 
	}
}


/*******************/
