.uniBtn{
  background-color: #08A491 !important;
  border-color: rgba(0, 0, 0, 0) !important;
}
.uniH1{
  color: #08A491;
}
.uniH2{
  color: #08A491 !important;
  font-size: 37px !important;
}
.uniH3{
  font-size: 21px !important;
}
