*{
  font-family: 'Fjalla One', sans-serif;
}
body,html{
  height: 100%;
}
.ml-4{
  margin-left: ($spacer-x * .25) !important;
}
#home{
  background:url(res/img/landing.jpg) no-repeat center center ;
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background-size: cover;
}
.greeting{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.greeting h1{
  color: #E79746;
  font-size: 500%;
  font-weight: bold;
}
#arrowDown{
  height: 100px;
  position: absolute;
  top: 80%;
  left: 44%;
}
.scrollArrow{
  position: absolute;
  top: 80%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 20px;
  height: 20px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
  animation: scrollDown 1.5s ease-in-out  infinite;
}
@keyframes scrollDown {
  0%{
    top:80%;
  }
  40%{
    top:82%;
  100%{
    top:80%;
  }

}
/* .scrollArrow::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transform: rotate(-45deg);
}
.scrollArrow::after{
  content: '';
  position: absolute;
  top
} */
